<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="mobile_base_gazebo" params="robot_name">
        
        <gazebo reference="${robot_name}_caster_wheel_link">
            <mu1 value="0.1" />
            <mu2 value="0.1" />
        </gazebo>
        
        <gazebo reference="${robot_name}_left_wheel_link">
            <mu1 value="1.0" />
            <mu2 value="1.0" />
        </gazebo>
        
        <gazebo reference="${robot_name}_right_wheel_link">
            <mu1 value="1.0" />
            <mu2 value="1.0" />
        </gazebo>
        
        <gazebo>
            <plugin
                filename="gz-sim-diff-drive-system"
                name="gz::sim::systems::DiffDrive">
                <left_joint>${robot_name}_base_left_wheel_joint</left_joint>
                <right_joint>${robot_name}_base_right_wheel_joint</right_joint>
                <wheel_separation>0.45</wheel_separation>
                <wheel_radius>0.1</wheel_radius>
                <max_wheel_torque>200</max_wheel_torque>
                <max_wheel_acceleration>10.0</max_wheel_acceleration>
                <topic>/model/${robot_name}/cmd_vel</topic>
                
            </plugin>
        </gazebo>
        
        <!-- Pose Publisher Plugin (simulates GPS with exact positioning) -->
        <gazebo>
            <plugin
                filename="gz-sim-pose-publisher-system"
                name="gz::sim::systems::PosePublisher">
                <publish_link_pose>true</publish_link_pose>
                <publish_collision_pose>false</publish_collision_pose>
                <publish_visual_pose>false</publish_visual_pose>
                <use_pose_vector_msg>true</use_pose_vector_msg>
                <static_publisher>true</static_publisher>
                <static_update_frequency>10</static_update_frequency>
                <link_name>${robot_name}_base_footprint</link_name>
            </plugin>
        </gazebo>
        
        <gazebo>
            <plugin
                filename="gz-sim-joint-state-publisher-system"
                name="gz::sim::systems::JointStatePublisher">
                <topic>${robot_name}/joint_state</topic>
            </plugin>
        </gazebo>
        
    </xacro:macro>

</robot>